################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto/Project.Ecommerce/.vs/Project.Ecommerce/DesignTimeBuild
/Projeto/Project.Ecommerce/Project.Ecommerce/obj
/Projeto/Project.Ecommerce/.vs/Project.Ecommerce/config
/Projeto/Project.Ecommerce/Project.Ecommerce/bin/Debug/netcoreapp3.1/cs
/Projeto/Project.Ecommerce/Project.Ecommerce/bin/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/.vs/Project.Ecommerce/v16/.suo
