################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto/Project.Ecommerce/.vs/Project.Ecommerce/DesignTimeBuild
/Projeto/Project.Ecommerce/Project.Ecommerce/obj
/Projeto/Project.Ecommerce/.vs/Project.Ecommerce/config
/Projeto/Project.Ecommerce/Project.Ecommerce/bin/Debug/netcoreapp3.1/cs
/Projeto/Project.Ecommerce/Project.Ecommerce/bin/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/.vs/Project.Ecommerce/v16/.suo
/Projeto/Project.Ecommerce/src/Project.Ecommerce/bin/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce/obj/Debug/netcoreapp3.1/Razor/Views
/Projeto/Project.Ecommerce/src/Project.Ecommerce/obj
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Application/bin/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Application/obj
/Projeto/Project.Ecommerce/src/Project.Ecommerce.CrossCutting/bin/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce.CrossCutting/obj/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce.CrossCutting/obj
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Data/bin/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Data/obj/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Data/obj
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Domain/bin/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Domain/obj/Debug/netcoreapp3.1
/Projeto/Project.Ecommerce/src/Project.Ecommerce.Domain/obj
