################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto/Project.Ecommerce/.vs/Project.Ecommerce/DesignTimeBuild
