@{
    ViewData["Title"] = "Detalhes";
}

<div class="col-md-12 row" style="margin-top: 2em; height:40em">
    <div class="col-md-6">
        <div class="col-md-12 row" style="margin-top: 2em;">
            <input hidden type="radio" name="carousel-control" id="button_a" checked />
            <input hidden type="radio" name="carousel-control" id="button_b" />
            <input hidden type="radio" name="carousel-control" id="button_c" />
            <input hidden type="radio" name="carousel-control" id="button_d" />

            <div class="col-md-2">
                <label for="button_a"><img src="~/images/bone.jpg" style="width: 100%; border-radius: 5%; cursor: pointer" /></label>
                <label for="button_b"><img src="~/images/bone.jpg" style="width: 100%; border-radius: 5%; cursor: pointer" /></label>
                <label for="button_c"><img src="~/images/bone.jpg" style="width: 100%; border-radius: 5%; cursor: pointer " /></label>
                <label for="button_d"><img src="~/images/bone.jpg" style="width: 100%; border-radius: 5%; cursor: pointer " /></label>
            </div>

            <div id="carousel" class="col-md-10">
                <div class="p-wrapper">

                    <section class="panel_a">
                        <img src="~/images/bone.jpg" style="width: 90%; border-radius: 5%" />
                    </section>

                    <section class="panel_b">
                        <img src="~/images/bone.jpg" style="width: 90%; border-radius: 5%" />
                    </section>

                    <section class="panel_c">
                        <img src="~/images/bone.jpg" style="width: 90%; border-radius: 5%" />
                    </section>

                    <section class="panel_d">
                        <img src="~/images/bone.jpg" style="width: 90%; border-radius: 5%" />
                    </section>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div style="text-align: left">
            <h2>CAMISETA DIF STATION 0305560</h2>
            <hr />
            <h4><b>Modelo:</b> 360161</h4>
            <h4><b>Disponibilidade:</b> Imediata</h4>
            <br />
            <h1><b>R$ 50,00</b></h1>
            <br />
            <div class="input-group" style="width: 20%">
                <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn btn-dark btn-number" data-type="minus" data-field="">
                        <i class="bi bi-arrow-left-short"></i>
                    </button>
                </span>
                <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100" style="text-align: center">
                <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-dark btn-number" data-type="plus" data-field="">
                        <i class="bi bi-arrow-right-short"></i>
                    </button>
                </span>
            </div>
            <br />
            <br />
            <label>Simular Frete</label>
            <div class="row" style=" margin-left: 0%;">
                <input type="text" class="input-group-text" placeholder="Informe seu CEP" style="width: 30%; text-align:left" />
                <button class="btn btn-dark" style="margin-left: 1em;"> Calcular</button>
            </div>
            <div style="margin-top: 2em;">
                <button class="btn btn-success" style=" width: 44%; height: 4em;"><i class="bi bi-cart4"></i> Comprar</button>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="col-md-11" style="margin: auto;">
    <div>
        <h2>Caracteristicas do Produto</h2>
    </div>
    <br />
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Tamanho</td>
                <td>P</td>
            </tr>
            <tr>
                <td>Cor</td>
                <td>Preto</td>
            </tr>
            <tr>
                <td>Modelo</td>
                <td>Aba Reta</td>
            </tr>
            <tr>
                <td>Marca</td>
                <td>Nike</td>
            </tr>
            <tr>
                <td>Ano</td>
                <td>2022</td>
            </tr>
        </tbody>
    </table>
</div>