@{
    ViewData["Title"] = "Detalhes";
}
<div class="col-md-12 row">
    <div class="mousetrap col-md-6">
        <img src="~/images/bone.jpg" class="rounded mx-auto d-block img-responsive" style="text-align: center; width: 70%">
    </div>

    <div class="col-md-6">
        <h2>CAMISETA DIF STATION 0305560</h2>
        <label>Modelo:360161</label>
        <label>Disponibilidade: Imediata</label>
    </div>
</div>