@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center; background-color: darkgray;">
    <h2>DESTAQUES</h2>
</div>
<br />
<div class="destaque-slick">

    <div class="card col-xs-11 col-sm-11 col-md-11 col-lg-11" style="text-align: center; ">
        <img src="~/images/avatar-user.png" width="200"/>

        <label>CAMISETA DIF STATION 0305560</label>
        <h2><b>R$: 40,00</b></h2>
        <label>ou 4x de R$: 10,00 sem tarifa</label>
    </div>
    <div class="card col-xs-11 col-sm-11 col-md-11 col-lg-11" style="text-align: center; ">
        <img src="~/images/avatar-user.png" width="200" />

        <label>CAMISETA DIF STATION 0305560</label>
        <h2><b>R$: 40,00</b></h2>
        <label>ou 4x de R$: 10,00 sem tarifa</label>
    </div>
    <div class="card col-xs-11 col-sm-11 col-md-11 col-lg-11" style="text-align: center; ">
        <img src="~/images/avatar-user.png" width="200" />

        <label>CAMISETA DIF STATION 0305560</label>
        <h2><b>R$: 40,00</b></h2>
        <label>ou 4x de R$: 10,00 sem tarifa</label>
    </div>
    <div class="card col-xs-11 col-sm-11 col-md-11 col-lg-11" style="text-align: center; ">
        <img src="~/images/avatar-user.png" width="200" />

        <label>CAMISETA DIF STATION 0305560</label>
        <h2><b>R$: 40,00</b></h2>
        <label>ou 4x de R$: 10,00 sem tarifa</label>
    </div>
    <div class="card col-xs-11 col-sm-11 col-md-11 col-lg-11" style="text-align: center; ">
        <img src="~/images/avatar-user.png" width="200" />

        <label>CAMISETA DIF STATION 0305560</label>
        <h2><b>R$: 40,00</b></h2>
        <label>ou 4x de R$: 10,00 sem tarifa</label>
    </div>
    <div class="card col-xs-11 col-sm-11 col-md-11 col-lg-11" style="text-align: center; ">
        <img src="~/images/avatar-user.png" width="200" />

        <label>CAMISETA DIF STATION 0305560</label>
        <h2><b>R$: 40,00</b></h2>
        <label>ou 4x de R$: 10,00 sem tarifa</label>
    </div>
    <div class="card col-xs-11 col-sm-11 col-md-11 col-lg-11" style="text-align: center;">
        <img src="~/images/avatar-user.png" width="200" />

        <label>CAMISETA DIF STATION 0305560</label>
        <h2><b>R$: 40,00</b></h2>
        <label>ou 4x de R$: 10,00 sem tarifa</label>
    </div>
</div>

<script>
    $('.destaque-slick').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: false,
        speed: 200,
        autoplay: true
    });
</script>