@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div id="tabsTop-4">
    
    <div id="tabsTop-3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="titulopaginas"> Meus endereços </h1>
        <form>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">  
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Nome do endereço </strong>
                    <input type="text" style="color: #8f8f8f;" value="Casa" placeholder="Nome do endereço"> 
                </div>
                    
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> CEP </strong>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
                        <input type="text" style="color: #8f8f8f;" value="09370-730" placeholder="CEP"> 

                        <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" style="text-align: center;">Não sei meu CEP</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Endereço </strong>
                    <input type="text" style="color: #8f8f8f;" value="Avenida Assis Brasil" placeholder="Endereço"> 
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Informe o número </strong>
                    <input type="text" style="color: #8f8f8f;" value="376" placeholder="Informe o número"> 
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row"> 
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Complemento </strong>
                    <input type="text" style="color: #8f8f8f;" value="Casa 2" placeholder="Complemento"> 
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Bairro </strong>
                    <input type="text" style="color: #8f8f8f;" value="Vila Assis Brasil" placeholder="Bairro"> 
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Cidade </strong>
                    <input type="text" style="color: #8f8f8f;" value="Mauá" placeholder="Cidade"> 
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Estado </strong>
                    <input type="text" style="color: #8f8f8f;" value="SP" placeholder="Estado">
                </div> 
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">    
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <input type="checkbox" value="Destinatário">
                    <label for = "DestinatarioDiferente" class="checkboxenderecos" style="color: #8f8f8f; ">Utilizar destinatário diferente do cadastro</label>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
                    <strong class="formularioEnderecos" style="color: #8f8f8f;"> Destinatário </strong>
                    <input type="text" style="color: #8f8f8f;" value="João luz" placeholder="Destinatário"> 
                </div>
            </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 4em">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14614.391830900795!2d-46.4681595!3d-23.6903315!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1649215212037!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </form>
    </div>
</div>