@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    font: 1em/1.5 "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

body {
    font-size: 1.3em;
}

header {
    height: 8%;
    position: relative;
    overflow: hidden;
    background: rgb(0,95,107);
    background: linear-gradient(90deg, rgba(0,95,107,1) 0%, rgba(0,107,107,0.7458333675266982) 100%, rgba(0,81,107,1) 100%);
    background-size: cover;
}

    header h1, header h2 {
        margin: 0;
    }

    header h2 {
        text-transform: uppercase;
        margin-top: -.5em;
    }

img {
    margin-right: 20px
}

.site {
    background-color: #efefef;
    font-size: .8em;
    position: relative
}

    .site a {
        color: #666;
        text-decoration: none;
    }

        .site a:hover {
            color: #222;
        }

    .site div {
        position: absolute;
        background: #222;
        width: 100%
    }

        .site div a {
            padding: 10px 30px;
            font-size: 1.3em;
            display: inline-block
        }

            .site div a:hover {
                background: #333;
                color: #fff
            }
