<footer class="border-top footer" style="text-align: center">
    <h4>E-COMMERCE PROJETO</h4>
    <p style="font-size: 12px;">© 2022 E-COMMERCE PROJETO. Todos os direitos reservados.</p>

    <button href="#" class="btn btn-transparent" title="Facebook"> <i class="redes-sociais bi bi-facebook"> </i> </button>
    <button href="#" class="btn btn-transparent" title="Instagram"> <i class="redes-sociais bi bi-instagram"> </i></button>
    <button href="#" class="btn btn-transparent" title="Twitter"> <i class="redes-sociais bi bi-twitter"> </i></button>
    <button href="#" class="btn btn-transparent" title="Telegram"> <i class="redes-sociais bi bi-telegram"> </i></button>
    <button href="#" class="btn btn-transparent" title="WhatsApp"> <i class="redes-sociais bi bi-whatsapp"> </i></button>
    <div style="margin-top: 10px;"></div>
</footer>