@*Todos os modais do header da pagina*@

@*ACESSAR A CONTA*@
<div id="modalAcessarConta" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:40%">

        <div class="w3-center">
            <br>
            <span data-dismiss="modal" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <img src="~/images/avatar-user.png" alt="Avatar" style="width:23%" class="w3-circle w3-margin-top">
        </div>

        <form class="w3-container">
            <div class="w3-section">
                <label><b>Usuário</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Informe o usuário" name="usrname" required>
                <label><b>Senha</b></label>
                <input class="w3-input w3-border" type="password" placeholder="Informe a senha" name="psw" required>
                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Acessar</button>
                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> lembrar me
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button data-dismiss="modal" type="button" class="w3-button w3-red">Cancelar</button>
            <span class="w3-right w3-padding w3-hide-small"><a href="#">Esqueceu a senha?</a></span>
        </div>

    </div>
</div>


@*CRIAR NOVA CONTA*@
<div id="modalCriarConta" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:40%">

        <div class="w3-center">
            <br>
            <span data-dismiss="modal" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <img src="~/images/avatar-user.png" alt="Avatar" style="width:23%" class="w3-circle w3-margin-top">
        </div>

        <form class="w3-container">
            <div class="w3-section">
                <label><b>Nome</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Informe seu nome" required>

                <label><b>E-mail</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Informe seu e-mail" required>

                <label><b>Senha</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Crie uma senha" required>

                <label><b>Confirmar Senha</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Confirme a senha" required>

                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Receber Ofertas

                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Cadastrar</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button data-dismiss="modal" type="button" class="w3-button w3-red">Cancelar</button>
        </div>

    </div>
</div>


@*FALE CONOSCO*@
<div id="modalFaleConosco" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:40%">

        <div class="w3-center">
            <br>
            <span data-dismiss="modal" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        </div>

        <form class="w3-container">
            <div class="w3-section">

                <label><b>Nome</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Informe seu nome" required>

                <label><b>E-mail</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Informe seu e-mail (Te responderemos nele...)" required>

                <label><b>Mensagem</b></label>
                <textarea class="w3-input w3-border w3-margin-bottom" style="height: 8em;" required></textarea>

                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Enviar</button>
            </div>
        </form>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button data-dismiss="modal" type="button" class="w3-button w3-red">Cancelar</button>
        </div>

    </div>
</div>