@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div id="tabsTop-6">
    <h1 class="bordas">Alterar Senha</h1>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <label class="senha" style="color: #8f8f8f;"> Senha atual: </label>
        <input class="caixaTexto" type="password" placeholder="Digite aqui"> <br/>

        <label class="senha" style="color: #8f8f8f;"> Nova senha: </label>
        <input class="caixaTexto" type="password" placeholder="Digite aqui"> <br/>

        <label class="senha" style="color: #8f8f8f;"> Confirmar nova senha: </label>
        <input class="caixaTexto" type="password" placeholder="Digite aqui"> 

        <button class="buttonAlterarSenha1 buttonAlterarSenha"> Alterar</button>

        <a href="#" class="senha" style="color:#8f8f8f; margin-top: 5em;" data-toggle="tab" title="Esqueci minha senha.">Esqueci minha senha.</a>
    </div>
</div>