@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div id="tabsTop-6">
    <h3 class="titulopaginas">Alterar Senha</h3>
    <article>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="boxdadospessoais col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <label class="formularioPerfil" style="color: #8f8f8f;"> Senha atual: </label>
                <input class="caixaTexto" type="password" placeholder="Digite aqui"> <br/>

                <label class="formularioPerfil" style="color: #8f8f8f;"> Nova senha: </label>
                <input class="bi bi-lock; caixaTexto" type="password" placeholder="Digite aqui"> <br/>

                <label class="formularioPerfil" style="color: #8f8f8f;"> Confirmar nova senha: </label>
                <input class="caixaTexto" type="password" placeholder="Digite aqui"> <br/> <br/>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: -10em; margin-left: 22em;">
                <i class="formularioPerfil" >
                    Sua senha deve conter: <br/>
                </i>
                <i class="bi bi-check-lg formularioPerfil">
                    Mínimo de 8 caracteres <br/>
                </i> 
                <i class="bi bi-check-lg formularioPerfil">
                    Pelo menos 1 número <br/>
                </i> 
                <i class="bi bi-check-lg formularioPerfil">
                    Pelo menos 1 letra <br/>
                </i> 
            </div>
        </div>    
        <section>
            <button class="buttonAlterarSenha1 buttonAlterarSenha" style="margin-top: 2em;"> Alterar</button>
        </section>
        <a href="#" class="formularioPerfil" style="color:#8f8f8f; margin-top: 11em; margin-left: 3em;" data-toggle="tab" title="Esqueci minha senha.">Esqueci minha senha.</a>
    </article>
    </div>
</div>