@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
    <div id="tabsTop-1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="titulopaginas">Minha Conta</h1>

        <div class="notfound">:'(</div>
        <h2 class="textnotfound">Faça uma busca em nossa loja e </h2>
        <p class="textnotfoundlink"> 
            <a href="https://localhost:5001/">encontre produtos do seu interesse!</a>
        </p>

        <h1 class="titulopaginas"> Dados pessoais </h1>
        <article>
            <div class="boxdadospessoais">
                <div> 
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Nome completo </strong>
                    <span class="formularioPerfil"> João Luz </span>
                </div>

                <div>   
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> E-mail </strong>
                    <span class="formularioPerfil"> joaoluz@hotmail.com </span>
                </div>

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> CPF </strong>
                    <span class="formularioPerfil"> 435.546.454-34 </span>
                </div> 
            </div>

            <div class="boxdadospessoais" style="margin-left: 8em;">
                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Data de nascimento </strong>
                    <span class="formularioPerfil"> 11/02/2001 </span>
                </div> 

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Telefone fixo </strong>
                    <span class="formularioPerfil"> (11) 4002-8922 </span>
                </div> 

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Telefone celular </strong>
                    <span class="formularioPerfil"> (11) 99547-7614 </span>
                </div> 
            </div>
            <section>
                <button class="editardados editardadosh"> Editar dados </button>
            </section>
        </article>
    </div>
