@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div id="tabsTop-3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="titulopaginas"> Meus dados </h1>
        <section>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
                        <strong class="formularioDados" style="color: #8f8f8f;"> Nome completo </strong>
                        <input type="text" class="form-control" style="color: #8f8f8f;" value="João luz" placeholder="Nome completo"> 
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <strong class="formularioDados" style="color: #8f8f8f;"> Telefone fixo </strong>
                        <input type="text" class="form-control" style="color: #8f8f8f;" value="(11) 4002-8922" placeholder="Telefone fixo">
                    </div> 
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">   
                        <strong class="formularioDados" style="color: #8f8f8f;"> E-mail </strong>
                        <input type="text" class="form-control" style="color: #8f8f8f;" value="joaoluz@hotmail.com" placeholder="E-mail"> 
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <strong class="formularioDados" style="color: #8f8f8f;"> Telefone celular </strong>
                        <input type="text" class="form-control" style="color: #8f8f8f;" value="(11) 99547-7614" placeholder="Telefone celular">
                    </div> 
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <strong class="formularioDados" style="color: #8f8f8f;"> CPF </strong>
                        <input type="text" class="form-control" style="color: #8f8f8f;" value="435.546.454-34" placeholder="CPF">
                    </div> 

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <strong class="formularioDados" style="color: #8f8f8f;"> RG </strong>
                        <input type="text" class="form-control" style="color: #8f8f8f;" value="59.134.235-76" placeholder="RG">
                    </div> 
                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
                        <strong class="formularioDados" style="color: #8f8f8f;"> Data de nascimento </strong>
                        <input type="text" class="form-control" style="color: #8f8f8f;" value="11/02/2001" placeholder="Data de nascimento">
                    </div> 
                
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <strong class="formularioDados" style="color: #8f8f8f;"> 
                            Sexo 
                        </strong>
                        <form>                    
                            <select class="form-control" style="color: #8f8f8f;">
                                <option> Selecione </option>
                                <option> Masculino </option>
                                <option> Feminino </option>
                            </select>
                        </form>
                    </div> 
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="checkbox" value="Desejo receber e-mails promocionais">
                <label for = "receberEmail" class="checkboxdados">Desejo receber e-mails promocionais</label>
            </div>
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="editardados editardadosh"> Salvar alterações </button>
            </section>
        </section>
</div>