@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div id="tabsTop-3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="titulopaginas"> Meus dados </h1>
        <article>
            <div class="boxdadospessoais">
                <div> 
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Nome completo </strong>
                    <input type="text" class="caixaTextoMeusDados" style="color: #8f8f8f;" value="João luz" placeholder="Nome completo"> 
                </div>

                <div>   
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> E-mail </strong>
                    <input type="text" class="caixaTextoMeusDados" style="color: #8f8f8f;" value="joaoluz@hotmail.com" placeholder="E-mail"> 
                </div>

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> CPF </strong>
                    <input type="text" class="caixaTextoMeusDados" style="color: #8f8f8f;" value="435.546.454-34" placeholder="CPF">
                </div> 
                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Data de nascimento </strong>
                    <input type="text" class="caixaTextoMeusDados" style="color: #8f8f8f;" value="11/02/2001" placeholder="Data de nascimento">
                </div> 
            </div>

            <div class="boxdadospessoais" style="margin-left: 8em;">

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Telefone fixo </strong>
                    <input type="text" class="caixaTextoMeusDados" style="color: #8f8f8f;" value="(11) 4002-8922" placeholder="Telefone fixo">
                </div> 

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> Telefone celular </strong>
                    <input type="text" class="caixaTextoMeusDados" style="color: #8f8f8f;" value="(11) 99547-7614" placeholder="Telefone celular">
                </div> 

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> RG </strong>
                    <input type="text" class="caixaTextoMeusDados" style="color: #8f8f8f;" value="59.134.235-76" placeholder="RG">
                </div> 

                <div>
                    <strong class="formularioPerfil" style="color: #8f8f8f;"> RG </strong>
                    <select class="caixaTextoMeusDados" style="color: #8f8f8f;">
                        <option> Sexo </option>
                        <option> Masculino </option>
                        <option> Feminino </option>
                    </select>
                </div> 

            </div>
            <section class="col-12">
                <button class="editardados editardadosh"> Salvar alterações </button>
            </section>
        </article>
</div>