@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div id="tabsTop-2">
    <div id="tabsTop-1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="titulopaginas"> Meus pedidos </h1>

        <div class="notfound" style="text-align: center;">:'(</div>
        <h2 class="textnotfound">Faça uma busca em nossa loja e </h2>
        <p class="textnotfoundlink"> 
            <a href="https://localhost:5001/">encontre produtos do seu interesse!</a>
        </p>
    </div>
</div>