@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project.Ecommerce</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/css/bootstrap/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/bootstrap/select2.css" rel="stylesheet" />
    <link href="~/css/bootstrap/slick.css" rel="stylesheet" />
    <link href="~/css/bootstrap/slick-theme.css" rel="stylesheet" />
    <link href="~/css/layout/header.css" rel="stylesheet" />
    <link href="~/css/layout/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/modal/w3-modal.css" rel="stylesheet" />

    <script src="~/js/bootstrap/jquery-1.12.2.min.js"></script>
    <script src="~/js/bootstrap/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap/jquery.blockUI.js"></script>
    <script src="~/js/bootstrap/select2.js"></script>
    <script src="~/js/bootstrap/jquery.scrollbar.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/bootstrap/datatables.min.js"></script>
    <script src="~/js/bootstrap/jquery.dataTables.min.js"></script>
    <script src="~/js/bootstrap/jquery.mask.min.js"></script>
    <script src="~/js/bootstrap/slick.min.js"></script>
    <script src="~/js/slick/slick-1.8.1/slick/slick.js"></script>
    <script src="~/js/layout/header.js"></script>
</head>
<body>
    <header class="d-flex align-items-center">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <label style="color: white;">Bem-vindo, Faça seu <a data-toggle="modal" data-target="#modalAcessarConta"><b>Login</b></a> ou <a data-toggle="modal" data-target="#modalCriarConta"><b>Cadastre-se</b></a></label>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: right">
            <button href="#" class="btn btn-transparent fale-conosco" title="Fale Conosco" data-toggle="modal" data-target="#modalFaleConosco"> <i class="bi bi-chat-dots"> </i></button>
            <a class="btn btn-transparent carrinho" asp-action="Index" asp-controller="Carrinho" title="Acesse o seu carrinho"> <i class="bi bi-cart"> </i> </a>
            <a class="btn btn-transparent seu-perfil" asp-action="Index" asp-controller="Perfil" title="Acesse o seu perfil"> <i class="bi bi-person"> </i></a>
        </div>
    </header>

   <aside> 
        <div style="margin-top: 3em;" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

            <a class="nav-link alinhamento bordas" href="#"><i class="bi bi-person"></i> Minha Conta </a>
            <a class="nav-link alinhamento bordas" href="#"><i class="bi bi-clipboard"></i> Meus pedidos </a>
            <a class="nav-link alinhamento bordas" href="#"><i class="bi bi-journal"></i> Meus dados </a>
            <a class="nav-link alinhamento bordas" href="#"><i class="bi bi-geo-alt"></i> Meus endereços </a>
            <a class="nav-link alinhamento bordas" href="#"><i class="bi bi-arrow-left-right"></i> Trocas/Devoluções </a>
            <a class="nav-link alinhamento bordas" href="#"><i class="bi bi-key"></i> Alterar senha </a>
            <a class="nav-link alinhamento bordas" href="#"><i class="bi bi-box-arrow-left"></i> Sair </a>
        </div>
    </aside>
    <footer class="border-top footer;" style="text-align: center;">

        <h4>E-COMMERCE PROJETO</h4>
        <p style="font-size: 12px;">© 2022 E-COMMERCE PROJETO. Todos os direitos reservados.</p>

        <button href="#" class="btn btn-dark" title="Facebook"> <i class="bi bi-facebook"> </i> </button>
        <button href="#" class="btn btn-dark" title="Instagram"> <i class="bi bi-instagram"> </i></button>
        <button href="#" class="btn btn-dark" title="Twitter"> <i class="bi bi-twitter"> </i></button>
        <button href="#" class="btn btn-dark" title="Telegram"> <i class="bi bi-telegram"> </i></button>
        <button href="#" class="btn btn-dark" title="WhatsApp"> <i class="bi bi-whatsapp"> </i></button>
        <div style="margin-top: 10px;"></div>
    </footer>

    <partial name="../Modal/_header.cshtml"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>