@{
    ViewData["Title"] = "Slick Imagens";
}

<div class="text-center">
    <div class="images-slick">
        <img src="~/images/imagem-1.jpg" style="object-fit:cover;" width="1200" height="150" />
        <img src="~/images/imagem-2.jpg" style="object-fit:cover;" width="1200" height="150" />
        <img src="~/images/imagem-3.jpg" style="object-fit:cover;" width="1200" height="150" />
        <img src="~/images/imagem-4.jpg" style="object-fit:cover;" width="1200" height="150" />
    </div>
</div>


<script src="~/js/slick/slick-header.js"></script>