/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    height: 100%;
    min-height: 100%;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
}


/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.hiperlink {
    color: black;
    cursor: pointer;
}

.hiperlink:hover {
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 95%;
    text-decoration: none;
}

.alinhamento:hover { 
  background-color: #e9e1e1;
  border-color: #e9e1e1;
  color: #8f8f8f;
  cursor: pointer;
  text-decoration: none;
  height: 2em;
}

.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.bordas {
  color: #8f8f8f;
  display: flex;
  border-bottom: 1px solid #e9e1e1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9e1e1;
  margin-top: 1em;
  height: 2em;
  font-size: 1.0625rem;
}

.senha {
  color: #8f8f8f;
  border-radius: 2px;
  display: flex;
  height: 2em;
  margin-top: 2em;
}

.buttonAlterarSenha1 {
display: inline-block;
padding: 6px 25px;
font-size: 14px;
cursor: pointer;
text-align: center;	
text-decoration: none;
outline: none;
color: #fff;
background-color: #8f8f8f;
border: none;
border-radius: 10px;
box-shadow: none;
position: absolute;
top: 16em;
left: 264px;
}

.buttonAlterarSenha:hover {
  display: inline-block;
  padding: 6px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7a7979;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  position: absolute;
  top: 16em;
  left: 264px;
}

.caixaTexto {
  border-radius: 4px;
  position: absolute;
  border-color: #8f8f8f;
  border-width: 1px;
  border-style: solid;
  color: #7a7979;
  font-size: 0.600rem;
  width: 20em;
}

.titulopaginas {
  color: #8f8f8f;
  font-weight: 700;
  font-size: 1.0625rem;
  display: flex;
  border-bottom: 1px solid #e9e1e1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9e1e1;
  margin-top: 1em;
  height: 2em;
}

.formularioPerfil {
  color: #7c7a7a;
  font-size: 0.800rem;
  display: flex;
  margin-top: 0em;
  height: 2em;
 
}

.card:hover{
    border-color: black;
}

.notfound {
  color: #8f8f8f;
  font-weight: 700;
  font-style: normal;
  font-size: 6em;
  text-align: center;
  box-sizing: border-box;
}

.textnotfound {
  color: #8f8f8f;
  font-style: bolder;
  text-align: center;
  font-size: 1em;
}

.textnotfoundlink {
  color: #4d973e;
  font-style: normal;
  text-align: center;
  margin-top: -1%;
}

.boxdadospessoais {
  display: inline-block;
}

.editardados {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4d973e;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  margin-left: 50%;
}

.editardadosh:hover {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4d973e;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  position: absolute;
  margin-left: 50%;
}


